<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--高德开发Key-->
    <add key="DistributionKey" value="ae13e521dd5c9b508d8d2fa2706aaefc"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
